@model AppUserModel
@{
    ViewData["Title"] = "Forget Password";
}
<section id="login-section">
    <!--form-->
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="login-form position-relative">
            <!--login form-->
            <h2>Quên mật khẩu</h2>
            <form asp-action="SendMailForgotPass" asp-controller="Account">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger" />
                </div>

                <!-- Căn nút gửi góc phải -->
                <div class="text-end position-absolute login-button">
                    <button class="btn btn-default" id="submit">Gửi</button>
                </div>

                <!-- Link tạo tài khoản -->
                <a class="pull-right" asp-action="Create" asp-controller="Account" class="text-start d-block mt-3">Tạo tài khoản mới</a>
            </form>
        </div>
    </div>
</section>

<style>
    /* Toàn bộ section */
    #login-section {
        height: 100vh; /* Chiều cao toàn màn hình */
        display: flex;
        justify-content: center; /* Căn giữa ngang */
        align-items: center; /* Căn giữa dọc */
        background-color: #f8f9fa; /* Màu nền nhạt */
    }

    .login-form {
        background: #ffffff;
        padding: 40px 30px 80px; /* Tăng không gian trong form */
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        width: 1000px;
        max-width: 400px; /* Chiều rộng tối đa */
        position: relative; /* Đặt thành phần con sử dụng `position` */
    }

    /* Nút đăng nhập */
    .login-button {
        bottom: 10px; /* Tạo khoảng cách giữa nút và cạnh dưới */
        right: 20px;
    }



    .btn:hover {
        background-color: #0056b3;
    }

    .position-absolute {
        position: absolute; /* Đặt vị trí tuyệt đối */
    }
</style>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

}