@model ContactModel
@{
	ViewData["title"] = "Edit Contact";
}
<a asp-action="Index" class="btn btn-primary">Back</a>
</br>
<h4>Edit Contact</h4>
<a asp-action="Index" class="btn btn-primary">Back</a>
<div class="col-md-9">
	<form asp-action="Edit" asp-controller="Contact" method="post" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label>Name</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Email</label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Phone</label>
			<input asp-for="Phone" class="form-control" />
			<span asp-validation-for="Phone" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Map</label>
			<input asp-for="Map" class="form-control" />
			<span asp-validation-for="Map" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Description</label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger" />
		</div>
		
		
		<div class="form-group">
			<label>Logo</label>
			<input asp-for="ImageUpload" class="form-control" />

			<span asp-validation-for="ImageUpload" class="text-danger" />
			<td><img src="~/media/products/@Model.LogoImg" width="100" /></td>
		</div>
		<div class="form-group">
			<button class="btn btn-primary">Update</button>
		</div>
	</form>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");

	}
	<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
	<script>
		CKEDITOR.replace('Description');
	</script>
}
